{% extends "network/layout.html" %}

{% block script %}
    <script src="/static/network/index.js"></script>
{% endblock %}

{% block body %}
    
    {% if user.is_authenticated %}
    <div style="border: 1px solid rgb(196, 196, 196); border-radius: 5px;" class="p-2 mb-3">
        <h3 class="mb-3">New Post</h3>
        <form class="mb-3" action="/post" id="post-form" method="POST">
            {% csrf_token %}
            <textarea class="form-control mb-3" name="content" id="content"></textarea>
            <input type="submit" class="btn btn-primary" value="Post" id="post">
        </form>
        <p id="error"></p>      
    </div>
    {% endif %} 
    <div id="posts" data-current-user="{{user.username}}"></div> 

    <div class="d-flex justify-content-center">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" id="prev-button">Previous</button>
            <button type="button" class="btn btn-primary" id="next-button">Next</button>
        </div>
    </div>
{% endblock %}