{% extends "network/layout.html" %}

{% block script %}
    <script src="/static/network/index.js"></script>
{% endblock %}

{% block body %}
<div class="user-page">
    <img src="/static/network/avatar.png" alt="Avatar Image" class="avatar-big">
    <div class="user-follow">
        <h2>{{ user_data.username }}</h2>
        {% if user.username != user_data.username and user.is_authenticated %}
            {% if unfollow %}
                <input class="btn btn-primary" style="width: 100px;" value="Unfollow" id="follow-button">
            {% else %}
                <input class="btn btn-primary" style="width: 100px;" value="Follow" id="follow-button">
            {% endif %}
        {% endif %}
    </div>
    <div id="error"></div>
    <div class="following-container">
        <div>Followers</div>
        <div>Following</div>
        <div id="followers">{{ followers }}</div>
        <div id="following">{{ following }}</div>
    </div>
</div>
<div id="posts" data-user="{{user_data.username}}" data-current-user="{{user.username}}" class="pt-5"></div>
<div class="d-flex justify-content-center">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" id="prev-button">Previous</button>
        <button type="button" class="btn btn-primary" id="next-button">Next</button>
    </div>
</div>

{% endblock %}
